.body{
    height:400px;
    width:100%;
    height:700px;
    margin:0;
    padding:0;
}
.space{ 
    width:500px;
    margin:auto;
    margin-top:10%;
    font-family: 'Roboto', sans-serif;
}

.signup{
    width:100%;
    background:#2c3e50;
    background-color:gold;
}


.buttons{
height:100px;
background:#2c3e50;
}
.p{
width:49.95%;
float:left;
color:white;
text-align:center;
padding-top:25px;
height:75%;
margin:0;
}
.p:hover{
background:#f1c40f;
color:#2c3e50;
cursor:pointer;
}

.input{
margin-top:20px;
margin-left:105px;
height:25px;
border:none;
border-radius:2px;
}
.confirm{
width:250px;
}
.email{
width:175px;
}
.password{
width:125px;
margin-left:6px !important;}


.button{
width:250px;
margin-left:125px !important;
margin-top:20px;
height:25px;
}
